<!DOCTYPE html>
<html ng-app="blastAasApp" ng-controller="blastAasCtrl">
<meta charset="UTF-8">
<head>
  <title>Blast as a service</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="ng-file-upload-shim.min.js"></script>
  <script src="ng-file-upload.min.js"></script>
  <script src="blastAasApp.js"></script>
  <script src="blastAasCtrl.js"></script>
</head>
<body>
<div id="content">
  <div id="mainPanel">
    <div><h1>Blast as a service</h1></div>
    <form name="dbUploadForm">
            <fieldset>
              <legend>Upload a new database</legend>
              Select file: <input ngf-select="" ng-model="dbFileToUpload" name="dbFileToUpload" ngf-accept="'.pep,.fsa'" required="" type="file">
              <button ng-disabled="!dbUploadForm.$valid" ng-click="uploadDb()">Submit</button>
              <span class="progress" ng-show="uploadProgress >= 0">
                  <div style="width:{{uploadProgress}}%" ng-bind="uploadProgress + '%'" class="ng-binding">{{ uploadStatus }}</div>
              </span>
              <span ng-show="dbFile.result">Upload Successful</span>
            </fieldset>
            <br>
    </form>
    <form ng-submit="submit()" name="analyzeForm">
        Query :<input type=text ng-model="queryData" name="queryData" size="100"></input><br />
        Database :<select ng-model="selectedDatabase" name="selectedDb" ng-options="dbfile as dbfile for dbfile in dbfiles"></select><br />
        <input type="submit" id="analyze" value="Analyze" />
    </form>
  </div>
  <div id="result" class="white-space-pre-line">
    <p>
      {{ result }}
    </p>
  </div>
  Search sample : LHTHKHVSSHTQTCIFHPSGANS
</div>

</body>
