<!DOCTYPE html>
<html ng-app="blastAasApp" ng-controller="blastAasCtrl">
<meta charset="UTF-8">
<head>
  <title>Blast as a service</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='blastAasApp.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ng-file-upload-shim.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ng-file-upload.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='blastAasCtrl.js') }}"></script>
</head>
<body>
<div id="content">
  <div class="title"><h1>Blast as a service</h1></div>
  <div class="mainPanel">
    <div class="dbSelectionPanel">
      <fieldset>
        <legend>Select an existing database</legend>
          Database: <select ng-model="selectedDatabase" name="selectedDb" ng-options="dbfile as dbfile for dbfile in dbfiles"></select>
    </fieldset>
    </div>
    <div class="dbUploadPanel">
      <fieldset>
        <legend>Upload a new database</legend>
        <form name="dbUploadForm" ng-hide="uploadProgress >= 0">
          Select a file: <input ngf-select="" ng-model="dbFileToUpload" name="dbFileToUpload" ngf-accept="'.pep,.fsa'" required="" type="file">
          <input ng-hide="!dbFileToUpload" ng-click="uploadDb(dbFileToUpload)" class="myButton" value="Upload" />
        </form>
        <div ng-show="uploadProgress >= 0">
          Upload in progress
          <span class="progress">
              <div style="width:{{uploadProgress}}%" ng-bind="dbFileToUpload.name+' '+uploadProgress + '%'" class="ng-binding"></div>
          </span>
        </div>
	<div ng-hide="!dbFileToUpload">
		Protein
	      <label class="switch">
        	  <input type="checkbox" ng-model="blastDbCheckBox" ng-change="changeBlastDbMode()">
	          <span class="slider"></span>
	      </label>
		Nucleotid
	</div>
        <span ng-show="dbFile.result">Upload Successful</span>
      </fieldset>
    </div>
    <div class="queryInputPanel">
	<fieldset>
	    <legend>Query</legend>
            <textarea ng-model="queryData" style="resize:none" name="queryData" rows="4" cols="70">Paste your sequence here</textarea><br />
	</fieldset>
    </div>
    <div class="optionsPanel">
	<fieldset>
	<legend>Options</legend>
	Blastp
      <label class="switch">
	  <input type="checkbox" ng-model="blastModeCheckBox" ng-change="changeBlastMode()">
	  <span class="slider"></span>
      </label>
	Blastn
	<p>Output mode: <select ng-model="outputFormat" ng-init="outputFormat = outputs[0]" name="outputFormat" ng-options="outputFormat as outputFormat for outputFormat in outputs"></select></p>
	</fieldset>
    </div>
    <div class="analyzePanel">
	{% raw %}
      <ul>
        <li ng-hide="queryData">No query, I need to look for something!</li>
        <li ng-hide="selectedDatabase">No database selected!</li>
      </ul>
        <input ng-hide="!queryData || !selectedDatabase" type="submit" ng-click="analyze()" value="Analyze using {{ blastMode }}" class="myButton" />
	 {% endraw %}
    </div>
    <div class="resultPanel">
      {% raw %}
      <div ng-hide="!result" class="resultText" >
       <p>{{ result }}</p>
      </div>
      {% endraw %}
        Search sample : LHTHKHVSSHTQTCIFHPSGANS
    </div>
    <div class="footer">
     	<p>API powered by Python3 Bio.Blast.Applications <br />
	Code is available <a href="https://github.com/Emriviere/blastAasApi">here</a></p>
    </div>
  </div>
</div>
</body>
